@model RegisterViewModel

@{
    ViewData["Title"] = "ثبت نام";
    Layout = "~/Views/Shared/_LoginRegisterForgotpassLayout.cshtml";
}



<div class="signup-box">
    <form id="form" asp-controller="Account" asp-action="Register" method="post">
        <h2>ثبت نام</h2>

        <div class="input-box">
            <span class="icon"><i class="fas fa-user"></i></span>
            <input type="text" placeholder="نام" id="firstName" asp-for="FirstName" required />
        </div>

        <div class="input-box">
            <span class="icon"><i class="fas fa-user"></i></span>
            <input type="text" placeholder="نام خانوادگی" id="lastName" asp-for="LastName" required />
        </div>

        <div class="input-box">
            <span class="icon"><i class="fas fa-envelope"></i></span>
            <input type="email" placeholder="ایمیل" id="username" asp-for="Email" required />
        </div>

        <div class="input-box">
            <span class="icon"><i class="fas fa-phone"></i></span>
            <input type="tel" placeholder="شماره همراه" id="phone" asp-for="mobile" required />
        </div>

        <div class="input-box">
            <span class="icon"><i class="fa fa-lock"></i></span>
            <input type="password" placeholder="رمز عبور" id="password" asp-for="Password" required />
            <span class="eye">
                <i class="fa-solid fa-eye" id="eyeIcon" onclick="togglePasswordField('password', 'eyeIcon')"></i>
            </span>
        </div>

        <div class="input-box">
            <span class="icon"><i class="fa fa-lock"></i></span>
            <input type="password"
                   placeholder="رمز عبور مجدد"
                   id="confirmPassword"
                   asp-for="ConfirmPassword"
                   required />
            <span class="eye">
                <i class="fa-solid fa-eye" id="confirmEyeIcon" onclick="togglePasswordField('confirmPassword', 'confirmEyeIcon')"></i>
            </span>
        </div>

        <button type="submit">ثبت نام</button>

        <div class="signin-link">
            <p>حساب کاربری دارید؟ <a asp-controller="Account" asp-action="Login">وارد شدن</a></p>
        </div>
    </form>
</div>

