@model List<ProductDto>?

@{
    ViewData["Title"] = "فروشگاه اینترنتی دنیای کامپیوتر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- header section starts  -->

<header>
    <div id="menu-bar" class="fas fa-bars"></div>

    <div class="nav-search-container">
        <nav class="navbar">
            <a class="nav-link" href="#home">خانه <i class="fas fa-home"></i></a>
            <a asp-controller="Account" asp-action="Login" class="nav-link" id="login-btn">
                ورود | ثبت نام <i class="fas fa-sign-in-alt" id="signin-btn"></i>
            </a>
            <!-- <a class="nav-link" href="#products"
              >محصولات <i class="fa-solid fa-box"></i
            ></a> -->
            <!-- categories list -->
            <div class="dropdown" id="dropdown">
                <li id="productsDropDown">
                    <a class="dropBtn">
                        دسته بندی کالا ها <i class="fa fa-bars"></i>
                    </a>
                    <!-- تولید دسته بر اساس دیتابیس -->
                    @*                         <div class="dropdown-content">
                    <a href="#">کارت گرافیک</a>
                    <a href="#">مادربرد</a>
                    </div> *@
                </li>
            </div>

            <!-- ارجاع به لینک سبد خرید -->
            <a class="nav-link" href="#">
                سبد خرید <i class="fa-solid fa-cart-shopping"></i>
            </a>
            <a class="nav-link" href="#about">
                درباره ما <i class="fas fa-user-headset"></i>
            </a>
        </nav>

        <!-- dark theme -->
        <div class="darkbtn" onclick="darkToggleColor()">
            <i class="fa-solid fa-sun-bright" id="darkbtnIcon"></i>
        </div>

        <!-- search box -->
        <div class="search-wrapper">
            <div class="searchbox">
                <input type="text" class="input" placeholder="جستجو..." />
                <div class="searchbtn">
                    <i class="fa fa-search"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- logo -->
    <a asp-controller="Home" asp-action="index" class="logo">
        <img src="./assets/img/PcWorld.png" alt="PcWorld" />
    </a>
</header>

<!-- header section ends -->
<!-- products -->
<!-- تولید به تعداد محصولات بر اساس دسته بندی -->
<!-- products section starts -->
<section class="products" id="products">
    <!-- قالب نمایش productCategory -->
    <!-- products show (format) starts -->
    <!-- product category label -->
    <!-- <div class="productCategoryLabel" id="productCategoryLabel">
      <a href="#category-link"> -->
    <!-- <img
          src="#productCategory-img"
          alt="productCategoryName"
        />
      </a> -->
    <!-- productCategoryName -->
    <!-- <p>انواع productCategoryName</p>
    </div> -->
    <!-- قالب نمایش هر محصول در productCategory -->
    <!-- products in category by slider -->
    <!-- Slider -->
    <!-- <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        تولید به تعداد محصول
        <div class="swiper-slide">
          <img
            src="product-img"
            alt="productName"
          />
          <a href="#product-page">
            <div class="description">
              <h3>productName</h3>
              <p>productPrice</p>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div> -->
    <!-- products show (format) ends -->

</section>
<!-- products section ends -->



@* <script>
    //normalize price
    document.addEventListener("DOMContentLoaded", function () {
        // Function to format number with commas
        function formatNumberWithCommas(number) {
            return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        // Get all elements with class 'price'
        var priceElements = document.querySelectorAll('.price');

        // Format and update the innerText of each price element
        priceElements.forEach(function (element) {
            var price = element.innerText;
            element.innerText = formatNumberWithCommas(price);
        });
    });
</script> *@
