@* @using App.Infra.Data.Db.SqlServer.Ef.DbCtx;
@inject AppDbContext Context; *@



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- <link rel="stylesheet" href="~/assets/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
    <meta name="author" content="ShStrong" />
    <link href="~/favicon.ico" rel="icon" sizes="32x32" type="image/png" />
    <!-- fontawesome link  -->
    <link rel="stylesheet" href="~/assets/lib/fontawesome/css/all.css" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet"
          href="~/assets/lib/swiper/css/swiper-bundle.min.css" />
    @await RenderSectionAsync("HeadContent", required: false)
</head>
<body>
    @RenderBody()


@*     <script src="~/assets/lib/jquery/dist/jquery.min.js"></script> *@
@*     <script src="~/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
</body>
</html>
