@* @using App.Infra.Data.Db.SqlServer.Ef.DbCtx;
@inject AppDbContext Context; *@



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- <link rel="stylesheet" href="~/assets/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
    <meta name="author" content="ShStrong" />
    <link href="~/favicon.ico" rel="icon" sizes="32x32" type="image/x-icon" />
    <!-- fontawesome link  -->
    <link rel="stylesheet" href="~/assets/lib/fontawesome/css/all.css" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet"
          href="~/assets/lib/swiper/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/assets/css/main-style.css" asp-append-version="true" />
</head>
<body>

    @RenderBody()


    <!-- footer section  -->

    <footer>
        <section class="footer" id="about">
            <div class="box-container">
                <div class="box">
                    <h3>درباره ما</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                        استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
                        ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
                    </p>
                </div>
                <div class="box">
                    <h3>دنبال کردن ما در</h3>
                    <a href="#">instagram</a>
                    <a href="#">linkedin</a>
                </div>
            </div>

            <h1 class="credit">کلیه حقوق این وب سایت محفوظ می باشد.</h1>
        </section>
    </footer>

    <!-- end footer -->


    <!-- Swiper JS -->
    <script src="~/assets/lib/swiper/js/swiper-bundle.min.js"></script>
    <!-- custom js file link  -->
    <script src="~/assets/js/script.js" asp-append-version="true"></script>


@*     <script src="~/assets/lib/jquery/dist/jquery.min.js"></script> *@
@*     <script src="~/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
</body>
</html>
