

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- <link rel="stylesheet" href="~/assets/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
    <meta name="author" content="ShStrong" />
    <link href="~/favicon.ico" rel="icon" sizes="32x32" type="image/png" />
    <!-- fontawesome link  -->
    <link rel="stylesheet" href="~/assets/lib/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/assets/css/shared-login-register-forgotpass.css" asp-append-version="true" />
</head>
<body>

    @RenderBody()

    <!-- custom js file link  -->
    <script src="~/assets/js/globalPasswordToggle.js" asp-append-version="true"></script>


    @*     <script src="~/assets/lib/jquery/dist/jquery.min.js"></script> *@
    @*     <script src="~/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
</body>
</html>